.icon-ventas{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABO1BMVEUAAABtdH5sdX1sdn1rdX1tdX1tdH1rcoBsdn1rdn5sdX1sdHxsdX1sdX5sdX1sdXxqdHxtdX1rcnxsdn1qgIBsdX5sdX1mdXpsdH1pcXhsdXxtdoBxcYBtcn1sdXxtdX1tdX1sdH1sdXxsdX1sdnxtdoBtdHxqdnxsdX5vdIBsdX1sdn5tdnxtdXxsdHxtdX1rdXxsc4BsdX1tdH5sdX1qcnttdX5sc3psdn5rdnxtdntsdX1sdX1tdXxrdn5tdnxsdX1sdX1sdX1td31rdH5sdHxsdX1ggIBqdYBrdX1uc31sdX1tdX1rc3ttdntsdX1mZmZsdH5rdH1rc3tsdX1sdX1VVVVtdH5rdYBvd4BsdX1tdX2AgIBpeHhtbYBsdX1sdH1tdH5tdoBtdX1sdX6AgIBsdX1sdX0AAADH5KpPAAAAaHRSTlMAw9fM3z1uJmZdO6DGV79xZ7BMzgzLrzLQIs84EjGofF6tb4mcUkQpyS67gFLRQJtMKHRlvR2UR2F5NtbhRkVzyPW6L8UhwAgw2DOZPz44sQWGWB/q5AOIMh6zgQIRDtSTSxxiUwTt6ailCwkAAAABYktHRACIBR1IAAAACXBIWXMAAA7pAAAO6QEOM0IcAAAAB3RJTUUH5QIXEzYCRCHxpwAAAP1JREFUKM9jYGBkYoYBFlYGJMDMxs4BAZxc3CgSPLx8HPwC/AIcgkLCIkgSomLiEpJS0hIyDLJy8gpIEopKyiqqahLqQKaGphaShLaOrp6+gSGIaWRsYoqQ4DA2MxeDOkvewhJJgsPKhAMGjKyRJRhs4BIcNigSzLZ2ELa9gyPYSCdnhIQLM7OLq5s7yGMMzB5OUAlTUwZPDg5PL28GiAQQQiSA2IeDwxerBAhQVcJP1z8Aq0RgkFYwVgmdkNAwrBLhQVquMAljhESEfmRUNEg4RhTIc+aJhUnExbOBwpHDxiwBxE10YTZNggRicDIkoFNSwdzENHgCYk6HBToA9aEkdpFv3D0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDItMjNUMTk6NTQ6MDIrMDA6MDBnTdZ5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAyLTIzVDE5OjU0OjAyKzAwOjAwFhBuxQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;

}

.icon-almacen{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABTVBMVEUAAABqcnttdn1tdX1rdX1sdX1sdn1rdXxocXtsdnxsdX1sdX1sdX1tdn1sdX1tdX1sdX1sdoBtdH5sdX1tdX1sdXxwcIBmc4BpeIBpeHhrdH1sdX1sdX1rdXxsdn1sdX1sdX1md3dggIBsdX1sdX1tbW1tdX1rdXxsdX6AgIBqdYBtdHxrdn1sc35sdX5sdX5sdX1wcHpsdH5tdX1sdX1rdX5tdnxqgIBtdH5xcYBsdX1sdX1rdH5rdX1sdX1sdn1sdX5qdYBsdn5venprdX2AgIBrdX1sdX1sdX1sdX1VVVVtdnxsdn1udXxsdX1qeIBrdH1sdX1vdnxsdX1sdX1sdH1rdXxrdH5tdoBsdX1sdX1sdX1tdH5rdnxsdX1sdXxud3tsdX1tdX10dHQAAABrdXxsdn1sdX1sdXxrdnxsdH1sdH1sdX1sdX0AAAB22xm2AAAAbXRSTlMAHWy32PS2axua+/q7j3S8mRpL8etxEBQiEXLs8Epq/K4PCPj3B7BpkAIwRJFJU1WxGWNi7ZhzDIgSxt3FvrXZjhhhF/IE3+Tl3gN1aCXpJKvXJ/bClUxPHOOqs8N53M86+XwLAaRm1s13k/Pap4HBaQAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQflAhcUIwXov5SVAAABOUlEQVQoz22PZ1/CMBCHr8iQtoAKBFCk4AABRRQVnHXgQBGr4qoKLgKO+/5vTcDRAs+L3OWe/P5JADoIlgGrzWa1OwQwMugUJdnldrs8ojg0/D8f8fr8BALBYABCo2Ph8d95RInGACYmEaemAUhcSfycV2aSvKbS6RSvyVllrp3vjfI5ycwzMjFusuEFVpw+voFFbJPjfWhpmb1T9HcSSYhBOv2KKIBFInlHwUQkvyo6wO6BNWndhLQBm1ugbu/grum3kMM9lwpF9/7BoWziqHR8UgQsw2mpYpxXSmdQRi5A1oxJmgx/wsbvPL/oFdbCZfUKr3uFBtmb2/4CoK+403X9Hh/Yqj+aREWWalWs17Fa83VFqQkW9fRMXrrF6xu/Iw8G0aC02aKUvuMHW+OftNWktIHwhX1RvwGcy1h6ZqmEzwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMi0yM1QyMDozNTowNSswMDowMF5pZrkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDItMjNUMjA6MzU6MDUrMDA6MDAvNN4FAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.container-centrado{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.etiquetaImvisible{
    visibility: hidden;
}
/***** disenio para mostrar la imagen *****/
#archivo_seleccionadoS{
    display: none;
}
.datos_imagen{
    background: green;

}
#archivo_seleccionado{
    display: none;
    /*background: transparent;
    color: transparent;

    max-width: 32px;
    max-height: 32px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxnPg0KCQkJPHBhdGggZD0iTTM3OS44NzksMTMxLjA2M2MtMjguNDE4LDAtNTEuNTM3LDIzLjEyLTUxLjUzNyw1MS41MzdzMjMuMTE5LDUxLjUzNyw1MS41MzcsNTEuNTM3DQoJCQkJYzI4LjQxNywwLDUxLjUzNy0yMy4xMTksNTEuNTM3LTUxLjUzN0M0MzEuNDE2LDE1NC4xODEsNDA4LjI5NywxMzEuMDYzLDM3OS44NzksMTMxLjA2M3ogTTM3OS44NzksMjE0LjEzNw0KCQkJCWMtMTcuMzksMC0zMS41MzctMTQuMTQ3LTMxLjUzNy0zMS41MzdzMTQuMTQ3LTMxLjUzNywzMS41MzctMzEuNTM3YzE3LjM4OSwwLDMxLjUzNywxNC4xNDcsMzEuNTM3LDMxLjUzNw0KCQkJCUM0MTEuNDE2LDE5OS45ODgsMzk3LjI2OSwyMTQuMTM3LDM3OS44NzksMjE0LjEzN3oiLz4NCgkJCTxwYXRoIGQ9Ik0zODAuMjMsNDUxLjE4MWMtMC4yNS0wLjYxLTAuNTYtMS4xOS0wLjkyLTEuNzNjLTAuMzYtMC41NS0wLjc4LTEuMDYtMS4yNC0xLjUyYy0wLjQ2LTAuNDYtMC45Ny0wLjg4LTEuNTItMS4yNA0KCQkJCWMtMC41NC0wLjM2LTEuMTItMC42Ny0xLjczLTAuOTJjLTAuNi0wLjI1LTEuMjMtMC40NS0xLjg3LTAuNTdjLTEuMjktMC4yNi0yLjYxLTAuMjYtMy45LDBjLTAuNjQsMC4xMi0xLjI3LDAuMzItMS44NywwLjU3DQoJCQkJYy0wLjYxLDAuMjUtMS4xOSwwLjU2LTEuNzMsMC45MmMtMC41NSwwLjM2LTEuMDYsMC43OC0xLjUyLDEuMjRjLTAuNDYsMC40Ni0wLjg4LDAuOTctMS4yNCwxLjUyYy0wLjM2LDAuNTQtMC42NywxLjEyLTAuOTIsMS43Mw0KCQkJCWMtMC4yNSwwLjYtMC40NSwxLjIzLTAuNTcsMS44N2MtMC4xMywwLjY0LTAuMiwxLjMtMC4yLDEuOTVjMCwwLjY1LDAuMDcsMS4zMSwwLjIsMS45NWMwLjEyLDAuNjQsMC4zMiwxLjI3LDAuNTcsMS44Nw0KCQkJCWMwLjI1LDAuNjEsMC41NiwxLjE5LDAuOTIsMS43M2MwLjM2LDAuNTUsMC43OCwxLjA2LDEuMjQsMS41MmMwLjIyOSwwLjIyOSwwLjQ3MSwwLjQ0OCwwLjcyMywwLjY1NQ0KCQkJCWMwLjI1NSwwLjIwOCwwLjUyMSwwLjQwNSwwLjc5NywwLjU4NWMwLjU0LDAuMzYsMS4xMiwwLjY3LDEuNzMsMC45MmMwLjYsMC4yNSwxLjIzLDAuNDUsMS44NywwLjU3YzAuNjQsMC4xMywxLjMsMC4yLDEuOTUsMC4yDQoJCQkJYzAuNjUsMCwxLjMxLTAuMDcsMS45NS0wLjJjMC42NC0wLjEyLDEuMjctMC4zMiwxLjg3LTAuNTdjMC42MS0wLjI1LDEuMTktMC41NiwxLjczLTAuOTJjMC4yNzYtMC4xODEsMC41NDItMC4zNzcsMC43OTctMC41ODUNCgkJCQljMC4yNTMtMC4yMDcsMC40OTQtMC40MjYsMC43MjMtMC42NTVjMC40Ni0wLjQ2LDAuODgtMC45NywxLjI0LTEuNTJjMC4zNi0wLjU0LDAuNjctMS4xMiwwLjkyLTEuNzMNCgkJCQljMC4yNS0wLjYsMC40NS0xLjIzLDAuNTgtMS44N2MwLjEzLTAuNjQsMC4xOS0xLjMsMC4xOS0xLjk1cy0wLjA2LTEuMzEtMC4xOS0xLjk1QzM4MC42OCw0NTIuNDEsMzgwLjQ4LDQ1MS43OCwzODAuMjMsNDUxLjE4MXoiDQoJCQkJLz4NCgkJCTxwYXRoIGQ9Ik0yMjIuODUsNTUuNDUxYy0wLjI1LTAuNi0wLjU2LTEuMTgtMC45Mi0xLjczYy0wLjM2LTAuNTQtMC43OC0xLjA2LTEuMjQtMS41MmMtMC40Ni0wLjQ2LTAuOTctMC44OC0xLjUyLTEuMjQNCgkJCQljLTAuNTQtMC4zNi0xLjEyLTAuNjctMS43My0wLjkyYy0wLjYtMC4yNS0xLjIzLTAuNDQtMS44Ny0wLjU3Yy0xLjI5LTAuMjYtMi42MS0wLjI2LTMuOSwwYy0wLjY0LDAuMTMtMS4yNywwLjMyLTEuODgsMC41Nw0KCQkJCWMtMC42LDAuMjUtMS4xOCwwLjU2LTEuNzIsMC45MmMtMC41NSwwLjM2LTEuMDYsMC43OC0xLjUyLDEuMjRjLTAuNDYsMC40Ni0wLjg4LDAuOTgtMS4yNSwxLjUyYy0wLjM2LDAuNTUtMC42NiwxLjEzLTAuOTEsMS43Mw0KCQkJCWMtMC4yNSwwLjYtMC40NSwxLjIzLTAuNTcsMS44N2MtMC4xMywwLjY1LTAuMiwxLjMtMC4yLDEuOTZjMCwwLjY1LDAuMDcsMS4zLDAuMiwxLjk1YzAuMTIsMC42NCwwLjMyLDEuMjcsMC41NywxLjg3DQoJCQkJYzAuMjUsMC42LDAuNTUsMS4xOCwwLjkxLDEuNzNjMC4zNywwLjU0LDAuNzksMS4wNiwxLjI1LDEuNTJjMC40NiwwLjQ2LDAuOTcsMC44OCwxLjUyLDEuMjRjMC41NCwwLjM2LDEuMTIsMC42NywxLjcyLDAuOTINCgkJCQljMC42MSwwLjI1LDEuMjQsMC40NCwxLjg4LDAuNTdjMC42NCwwLjEzLDEuMywwLjIsMS45NSwwLjJjMC42NSwwLDEuMzEtMC4wNywxLjk1LTAuMmMwLjY0LTAuMTMsMS4yNy0wLjMyLDEuODctMC41Nw0KCQkJCWMwLjYxLTAuMjUsMS4xOS0wLjU2LDEuNzMtMC45MmMwLjU1LTAuMzYsMS4wNi0wLjc4LDEuNTItMS4yNGMwLjQ2LTAuNDYsMC44OC0wLjk4LDEuMjQtMS41MmMwLjM2LTAuNTUsMC42Ny0xLjEzLDAuOTItMS43Mw0KCQkJCWMwLjI1LTAuNiwwLjQ1LTEuMjMsMC41Ny0xLjg3YzAuMTMtMC42NSwwLjItMS4zLDAuMi0xLjk1YzAtMC42Ni0wLjA3LTEuMzEtMC4yLTEuOTZDMjIzLjMsNTYuNjgxLDIyMy4xLDU2LjA1MSwyMjIuODUsNTUuNDUxeiINCgkJCQkvPg0KCQkJPHBhdGggZD0iTTQ1Ni4xMjgsNDkuMzE4Yy01Ljk5Ni0yNS4zNDktMjguOC00NC4yNzQtNTUuOTU2LTQ0LjI3NEg4Ni40MTdDMzguNzY3LDUuMDQzLDAsNDMuODEsMCw5MS40NnYzMTMuNzU1DQoJCQkJYzAsMzEuMTYxLDI0LjkxNyw1Ni41OTUsNTUuODcyLDU3LjQ2OGM1Ljk5NiwyNS4zNDksMjguOCw0NC4yNzQsNTUuOTU2LDQ0LjI3NEg0NTQuNDljMzEuNzExLDAsNTcuNTEtMjUuNzk5LDU3LjUxLTU3LjUxDQoJCQkJdi03NS40NThWMTA2Ljc4NUM1MTIsNzUuNjI1LDQ4Ny4wODMsNTAuMTkxLDQ1Ni4xMjgsNDkuMzE4eiBNNDkyLDQ0OS40NDljMCwyMC42ODMtMTYuODI3LDM3LjUxLTM3LjUxLDM3LjUxSDExMS44MjgNCgkJCQljLTE2LjAxLDAtMjkuNzAyLTEwLjA4NS0zNS4wNzUtMjQuMjMzYy0xLjU2OS00LjEzLTIuNDM1LTguNjAzLTIuNDM1LTEzLjI3N3YtNi43MjN2LTQ2LjMyOWwxMTQuNzI1LTE5NC41MjQNCgkJCQljMy40OTMtNS45MjIsOS43MjItOS4zOCwxNi41NTYtOS4yN2M2Ljg3NSwwLjExOCwxMi45NDIsMy43OTIsMTYuMjMsOS44MzFsNDkuMzk2LDkwLjcwMmw3MS44MDEsMTMxLjg0Mw0KCQkJCWMxLjgxNCwzLjMzMiw1LjI0Nyw1LjIxOSw4Ljc5MSw1LjIxOWMxLjYxNiwwLDMuMjU1LTAuMzkzLDQuNzc0LTEuMjJjNC44NS0yLjY0Miw2LjY0MS04LjcxNSw0LTEzLjU2NWwtMjMuMy00Mi43ODUNCgkJCQljMTAuMjMsMC40NzIsMjAuMjkyLTIuODQxLDI4LjMwNS05LjQ4OGw0NC45NzEtMzcuMzA2YzcuMjEyLTUuOTgzLDE3Ljg2MS01LjcyLDI0Ljc2OSwwLjYxM2wyLjM0OCwyLjE1MmwyMCwxOC4zMzNMNDkyLDM3OC4zODkNCgkJCQlWNDQ5LjQ0OXogTTQ5MiwzNTEuMjU3bC0zNC4zMTctMzEuNDU4bC0yMC0xNS4yMjljLTEzLjAzMS01LjQ1LTI4LjUyNS0zLjU1NC0zOS44ODYsNS44N2wtNDQuOTcxLDM3LjMwNg0KCQkJCWMtNC45NDYsNC4xMDQtMTEuNDA0LDUuNzYyLTE3LjcxNiw0LjU0OWMtNi4zMTItMS4yMTItMTEuNjk1LTUuMTQ2LTE0Ljc2OS0xMC43OWwtMzEuNTUyLTU3LjkzNmwtMTcuNjE4LTMyLjM1MXYtMC4wMDENCgkJCQlsLTMxLjc3Ny01OC4zNWMtNi43NzgtMTIuNDQ1LTE5LjI4NC0yMC4wMi0zMy40NTMtMjAuMjYyYy0xNC4xNjUtMC4yMjItMjYuOTI2LDYuOTAxLTM0LjEyNSwxOS4xMDdMNzQuMzE3LDM1Ny4wMjdWMTA2Ljc4NQ0KCQkJCWMwLTIwLjY4MywxNi44MjctMzcuNTEsMzcuNTEtMzcuNTFoNjEuNzkyYzUuNTIzLDAsMTAtNC40NzcsMTAtMTBzLTQuNDc3LTEwLTEwLTEwaC02MS43OTJjLTMxLjcxMSwwLTU3LjUxLDI1Ljc5OS01Ny41MSw1Ny41MQ0KCQkJCXYyODYuODgydjQ4LjkxMkMzNS4xMjQsNDQwLjk1MiwyMCw0MjQuODIyLDIwLDQwNS4yMTVWOTEuNDZjMC0zNi42MjMsMjkuNzk1LTY2LjQxNyw2Ni40MTctNjYuNDE3aDMxMy43NTUNCgkJCQljMTYuMDEsMCwyOS43MDIsMTAuMDg1LDM1LjA3NSwyNC4yMzNIMjUzLjYxOWMtNS41MjMsMC0xMCw0LjQ3Ny0xMCwxMGMwLDUuNTIzLDQuNDc3LDEwLDEwLDEwaDE4NC4wNjNsMjAsMC4xNDYNCgkJCQlDNDc2Ljg3Niw3MS4wNDgsNDkyLDg3LjE3OCw0OTIsMTA2Ljc4NVYzNTEuMjU3eiIvPg0KCQk8L2c+DQoJPC9nPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
background-position: 1;*/
}
#imagen_contenido{
    text-align: center;
    background: blue;
}
#ver_archivo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ver_archivo img{
    background: red;
    text-align: center;
    height: 120px;
    width: 120px;
}
#ver_archivoS{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ver_archivoS img{
    background: red;
    text-align: center;
    height: 100px;
    width: 100px;
}
.oculto_texto{
    display: block;
    width:245px;
    height:8em;
    display:none;
    background:red;
    font-size:.1em;
    color:blue;
}
.uneditable-input{
    width: 230px;
}
.titulo_datos_usuario{
    background:#18BC9C;
    display: flex;
    justify-content: center;
    align-items:center;
    height:32px;
    width:100%;
}
.titulo_datos_usuario p{
    color: #ffffff;
}

.separador_titulo_formulario{
    color: #eef2f7;;
    left: 4px;
    right: 4px;
}
.claseselect select {
    color: #a7a7a7;
}
.claseselect select option:first-child {
    color: #a7a7a7;
    opacity: 0;
    display: none;
}
.claseselect select option {
    color: #333;
}
.img_compra_producto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_compra_producto img{
    height: 100px;
    width: 130px;
}
.boton_derecha{
    text-align: left;
}

/* -------- Estilos de agregar  de compra de productos -------- */
.contenedor_productos_comprados{
    height: 360px;
    width: 100%;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
}
.producto-comprado-opciones{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.producto-comprado-nombre{

}
.eliminar_productoC{
    display: none;
}

.esconder{
    visibility: hidden;
}
.ver{
    visibility: visible;
}
#contenedorImagenProveedor{
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 140px;
}
#contenedorImagenAlmacen{
    height: 140px;
}
.separa-acordion{
    float: right;
}
.acordion-contenido{
    outline: 1px solid #eef2f7;
}
.acordion-contenido-dentro{
    padding: 3%
}
.separador-compra-producto{
    padding-top: 10px;
    /*border-top: 1px solid #000;*/
    border-bottom: 1px solid #eef2f7;
    padding-bottom: 10px;
}
.nombre-producto-comprado{
    font-weight: 100;
}
#monedaCompraProducto{
    float: left;
    margin:0.8em;
}
.quitar-producto{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#imagen-producto-compra{
    background: #eef2f7;
    height: 140px;
    width: 160px;
}
.contenedor-imagen-compra{
    align-items: center;
    display: flex;
    justify-content: center;
    /*border: 1px solid #000;*/
}
.placeholderselect{
    display: none;
}
.placeholderselect::placeholder {
  color: blue;
  font-size: 1.5em;
}
.eliminar-accesorios-producto{
    padding: 0px;
    border: 0px;
    color: #fff;
    margin: 0px;
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background: red;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
}
/*--------------------------------------------------------------*/
/*estilos personalizados de caracteristicas de producto*/
.etiquetas-horizontal{
    align-items: center;
    display: flex;
    justify-content: center;
}
.separacion_descripcion{
    margin-right: 8px;
}
.alinear-arriba{
    background: blue<
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.ocultarDIV{
    display: none;
}
.mostrarDIV{
    display: block;
}
#divNombreCaracteristica{
    display: flex;
    flex-direction: column;
}
#divDatoCaracteristica{
    display: flex;
    flex-direction: column;
}
#divUnidadMedida{
    display: flex;
    flex-direction:column;
}
.estilosFilaCaracteristicas{
    border: 0px;
    padding: 0px;
    margin:0px;
    margin-top: 1px;
    height: 60px;
}